@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Corben', serif;
}

html {
  line-height: 1.15;
  background-color: #f6ede1;
}

html.sr .load-hidden {
  visibility: hidden;
}

/* HEADER CSS */
header {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
}

.logo-link {
  display: flex;
  width: 60px;
  padding: 16px 0px;
}

.logo-link #logo {
  width: 100%;
}

nav {
  display: flex;
}

a.menu {
  align-self: center;
  font-size: 12px;
  padding: 4px 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #092b40;
}

.menu:hover {
  opacity: 0.5;
}

#bars {
  display: none;
  font-size: 16px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline;
}

.drop-btn {
  background-color: transparent;
  border: none;
}

.drop-content {
  display: none;
  position: absolute;
  min-width: 90px;
  right: 15px;
  top: 3px;
  z-index: 1000;
}

.drop-content > a {
  display: block;
  font-size: 11px;
  padding: 5px;
  text-decoration: none;
  background: rgba(72, 63, 63, 0.168);
  color: #000000;
}

/* Hero section1 css  */
.container-hero-blog-section {
  padding: 16px;
  max-width: 100%;
  display: grid;
  gap: 16px;
  height: fit-content;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(380px, 1fr));
  grid-template-areas: 'area1 area1 area2' 'area3 area3 area2';
}

.blog-area1 {
  grid-area: area1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto);
  border-radius: 10px 10px 10px 10px;
  border: none;
  overflow: hidden;
  grid-template-areas: 'sub-area1 sub-area2';
}
.blog-area2 {
  grid-area: area2;
  background-image: url(assets/images/musuem.jpg);
  display: flex;
  justify-content: start;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 64px 16px 0 0;
  border-radius: 10px 10px 10px 10px;
  border: none;
  overflow: hidden;
  position: relative;
}
.blog-area3 {
  grid-area: area3;
  background-image: url(assets/images/leafs.jpg);
  display: flex;
  justify-content: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  border: none;
  position: relative;
}

.sub-area1 {
  grid-area: sub-area1;
  background: #011526;
  overflow: hidden;
  position: relative;
}

.sub-area2 {
  grid-area: sub-area2;
  min-height: 300px;
  background-image: url(assets/images/red-building.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-post-container {
  width: 50%;
}

.blog-post {
  height: 85%;
  padding: 24px 16px 10px 0px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
}

.blog-post-heading1 {
  font-weight: normal;
  padding-left: 24px;
  font-size: 48px;
  line-height: 1;
}

.blog-post-heading2 {
  font-weight: normal;
  padding-left: 24px;
  font-size: 32px;
  line-height: 1;
}

.blog-post-context {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  padding-top: 12px;
  padding-left: 24px;
}

.btn-readmore {
  position: absolute;
  height: 50px;
  width: 140px;
  margin-top: 24px;
  bottom: 0;
  left: 0;
  border-radius: 0px 15px 0px 0px;
  border: none;
  background-color: #f6ede1;
}

.btn-readmore:hover {
  width: 150px;
  transition: all 100ms ease-in-out;
  background-color: #ff6262;
  color: #fff;
}

/* newsletter Section2 css */
.conatiner-newsletter-section {
  display: flex;
  height: fit-content;
  max-width: 100%;
  padding: 0px 24px;
  justify-content: center;
}

.newsletter-box {
  padding: 48px 0px;
  width: 60%;
  text-align: center;
}

.newsletter-heading6 {
  color: #ff6262;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 16px;
}

.newsletter-heading1 {
  font-weight: 500;
  padding-left: 24px;
  font-size: 72px;
  line-height: 1;
  padding-bottom: 24px;
}

.newsletter-subs {
  display: grid;
  width: 50%;
  height: 30%;
  gap: 16px;
  padding: 20px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}

.newsletter-email {
  padding: 10px;
  font-size: 0.875rem;
  background-color: #ecdfce;
  color: #092b40;
  border: none;
  border-radius: 10px;
}

.newsletter-subs-btn {
  padding: 10px;
  font-size: 0.875rem;
  background-color: #092b40;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.newsletter-subs-btn:hover {
  background-color: #011526;
  transform: scale(1.02);
}

.newsletter-policy {
  color: #666;
}

/* Article section3 css */
.conatiner-article-section,
.conatiner-article2-section {
  padding: 10px 16px 16px 16px;
  max-width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto);
}

.article-card,
.article2-card {
  display: flex;
  min-width: 300px;
  min-height: 550px;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 10px 10px;
}

.article-card:nth-child(1) {
  background-image: url(assets/images/natural.jpg);
}
.article-card:nth-child(2) {
  background-image: url(assets/images/renewable.jpg);
}
.article-card:nth-child(3) {
  background-image: url(assets/images/Macrocities.jpg);
}
.article-card:nth-child(4) {
  background-image: url(assets/images/Urban.jpg);
}
.article-card:nth-child(5) {
  background-image: url(assets/images/Hidden.jpg);
}
.article-card:nth-child(6) {
  background-image: url(assets/images/color.jpg);
}
.article-card:nth-child(7) {
  background-image: url(assets/images/together.jpg);
}
.article-card:nth-child(8) {
  background-image: url(assets/images/sculptures.jpg);
}

.conatiner-article2-section {
  grid-template-areas:
    'article1 article1 article1 article2'
    'article3 article4 article4 article2';
}

.article2-card:nth-child(1) {
  grid-area: article1;
  background-image: url(assets/images/stairs.jpg);
}
.article2-card:nth-child(2) {
  grid-area: article2;
  background-image: url(assets/images/integrated-nature.jpg);
}
.article2-card:nth-child(3) {
  grid-area: article3;
  background-image: url(assets/images/trees.jpg);
}
.article2-card:nth-child(4) {
  grid-area: article4;
  background-image: url(assets/images/light-and-shadow.jpg);
}

/* FOOTER CSS */

footer {
  padding: 24px 16px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 16px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
}

.ft-newsletter-heading6 {
  border-top: 1px solid #ebdac4;
  padding: 5px 0px;
  color: #092b40;
  font-weight: normal;
  font-size: 14px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ft-newsletter-para {
  color: #666;
  font-size: 14px;
  padding-bottom: 16px;
}

.ft-newsletter-email {
  padding: 16px;
  height: 50px;
  font-size: 0.875rem;
  background-color: #ecdfce;
  color: #092b40;
  border: none;
  border-radius: 10px;
}
.ft-newsletter-subs-btn {
  padding: 10px;
  margin-top: 12px;
  font-size: 0.875rem;
  background-color: #092b40;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.ft-newsletter-subs-btn:hover {
  background-color: #011526;
  transform: scale(1.02);
}

.social-list {
  padding: 24px 24px;
}

.social-list a {
  text-decoration: none;
  font-size: 14px;
}

.social-list .social-links {
  list-style: none;
  border-top: 1px solid #ebdac4;
  padding: 5px;
  margin: 2px 0px;
  color: #092b40;
}

/* media queries for Small-laptop view*/
@media (max-width: 1400px) {
  .blog-post-container {
    width: 100%;
  }

  .blog-post-heading1 {
    padding: 16px;
    font-size: 24px;
  }

  .blog-post-heading2 {
    padding-left: 18px;
    font-size: 32px;
  }

  .blog-post-context {
    font-size: 14px;
    padding: 16px;
  }

  /* newsletter Section2 css */

  .newsletter-heading6 {
    font-size: 18px;
  }

  .newsletter-heading1 {
    padding-left: 0px;
    font-size: 25px;
    line-height: 1;
    padding-bottom: 10px;
  }

  .newsletter-subs {
    width: 100%;
    height: 60%;
    padding: 10px;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .newsletter-policy {
    color: #666;
  }
  /* article responsive css */
  .conatiner-article-section,
  .conatiner-article2-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }

  .conatiner-article2-section {
    grid-template-areas:
      'article1 article2'
      'article3 article4 article2';
  }
}

/* media queries for Tablet view */
@media (max-width: 1024px) {
  /* Hero section1 css  */
  .container-hero-blog-section {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-template-rows: repeat(2, minmax(auto, 1fr));
    grid-template-areas:
      'area1 area2'
      'area3 area2';
  }

  .blog-area1 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas:
      'sub-area2'
      'sub-area1';
  }
  .blog-post-container {
    width: 100%;
  }

  .blog-post-heading1 {
    padding: 16px;
    font-size: 24px;
  }

  .blog-post-heading2 {
    padding-left: 18px;
    font-size: 32px;
  }

  .blog-post-context {
    font-size: 14px;
    padding: 16px;
  }

  .btn-readmore {
    position: absolute;
    height: 50px;
    width: 140px;
    margin-top: 24px;
    bottom: 0;
    left: 0;
    border-radius: 0px 15px 0px 0px;
    border: none;
    background-color: #f6ede1;
  }

  /* article responsive css */
  .conatiner-article-section,
  .conatiner-article2-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }

  .conatiner-article2-section {
    grid-template-areas:
      'article1 article2'
      'article3 article4';
  }

  /* footer responsive */
  footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* media queries for Mobile view*/
@media (max-width: 720px) {
  #bars {
    display: block;
  }
  .dropdown {
    position: relative;
    display: block;
  }
  nav > .menu {
    display: none;
  }
  .dropdown:focus-within .drop-content {
    display: block;
  }
  /* Hero section1 css  */
  .container-hero-blog-section {
    height: fit-content;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-template-rows: repeat(4, minmax(300px, 1fr));
    grid-template-areas:
      'area1'
      'area1'
      'area3'
      'area2';
  }

  .blog-area1 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas:
      'sub-area2'
      'sub-area1';
  }
  .blog-post-container {
    width: 100%;
  }

  .blog-post-heading1 {
    padding: 16px;
    font-size: 24px;
  }

  .blog-post-heading2 {
    padding-left: 18px;
    font-size: 32px;
  }

  .blog-post-context {
    font-size: 14px;
    padding: 16px;
  }

  .btn-readmore {
    position: absolute;
    height: 50px;
    width: 140px;
    margin-top: 24px;
    bottom: 0;
    left: 0;
    border-radius: 0px 15px 0px 0px;
    border: none;
    background-color: #f6ede1;
  }

  /* newsletter Section2 css */

  .newsletter-box {
    width: 100%;
  }

  .newsletter-heading6 {
    font-size: 18px;
  }

  .newsletter-heading1 {
    padding-left: 0px;
    font-size: 25px;
    line-height: 1;
    padding-bottom: 10px;
  }

  .newsletter-subs {
    width: 100%;
    height: 60%;
    padding: 10px;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .newsletter-policy {
    color: #666;
  }
  /* article responsive css */
  .conatiner-article-section,
  .conatiner-article2-section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }

  .conatiner-article2-section {
    grid-template-areas:
      'article1 '
      'article2'
      'article3'
      'article4';
  }

  /* footer responsive */
  footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
